.containerContato{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicioContato{
    height: 320px;
    width: 100%;
    text-align: center;
    background-color: #aaa5ac;
}

.tituloContato{
    color: #4f0496;
    font-size: 35px;
    padding: 10px;
}

.imagemContato{
    height: 150px;
    max-width: 100%;
}

.containerForm{
    height: 500px;
    width: 40%;
    background-color: #b482e4;
    border-radius: 20px;
    box-shadow: 0 0 10px #0000001a;
}

.formContato{
    height: 600px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

input, textarea {
    width: 65%;
    padding: 10px;
    border: 1px solid #575657;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

label{
    font-size: 20px;
}

.buttonForm {
    width: 40%;
    background-color: #797679;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
}

.buttonForm:hover{
    background-color: #4f0496;
}