.containerRodape{
    height: 100px;
    max-width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fraseRodape{
    color: #ffffff;
    font-size: var(--font-size-medio);
    font-style: italic;
}