.containerMenu{
    display: flex;
    align-items: center;
    justify-content:end;
    height: 60px;
    max-width: 100%;
    background-color: #ffffff; 
}

li, a{
    display: inline-block;
    text-decoration: none;
    list-style: none;
}

a:hover{
    color: #000;
}

li{
    font-size: 24px;
    margin-right: 20px;
    font-style: oblique;
    font-weight: 700;
}