.listaMenu{
    height: 50px;
    width: 100%;
    background-color: #ffffff;   
}

li, a{
    display: inline;
    text-decoration: none;
    list-style: none;
}

li{
    font-size: 24px;
    margin-right: 20px;
    font-style: oblique;
    font-weight: 700;
}