.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicioComentarios{
    height: 320px;
    width: 100%;
    text-align: center;
    background-color: var(--secondary-color);
}

.tituloComentarios{
    color: var(--primary-color);
    font-size: var(--font-size-small);
    padding: 10px;
}

.imagemComentarios{
    height: 250px;
    max-width: 100%;
}

.containerComentarios{
    height: 400px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.coments{
    height: 80px;
    width: 50%;
}

.listaComentarios{
    font-size: var(--font-size-medio);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 5px;
}

.buttonComents{
    height: 40px;
    width: 20%;
    background-color: var(--secondary-color);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: var(--font-size-medio);
    margin-top: 15px;
}

.buttonComents:hover{
    background-color: var(--primary-color);
}

