.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicioComentarios{
    height: 320px;
    width: 100%;
    text-align: center;
    background-color: #aaa5ac;;
}

.tituloComentarios{
    color: #4f0496;
    font-size: 35px;
    padding: 10px;
}

.imagemComentarios{
    height: 250px;
    max-width: 100%;
}

.containerComentarios{
    height: 400px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.coments{
    height: 80px;
    width: 50%;
}

.buttonComents{
    height: 40px;
    width: 20%;
    background-color: #797679;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 15px;
}

.buttonComents:hover{
    background-color: #4f0496;
}