:root{
    --primary-color: #4f0496;
    --secondary-color: #aaa5ac;
    --background-section: #eadbfa;
    --font-size-medio: 22px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}